.mainContainer
{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #FCF5EB;
    background-image: 
      repeating-linear-gradient(45deg, rgba(255, 0, 100, 0.1) 0, rgba(255, 0, 100, 0.1) 1px, transparent 1px, transparent 20px),
      repeating-linear-gradient(-45deg, rgba(255, 0, 100, 0.1) 0, rgba(255, 0, 100, 0.1) 1px, transparent 1px, transparent 20px);
    background-size: 40px 40px;
    position: fixed;
    top: 0%;
}
.form-card {
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
}

.signin-link {
  color: #006400;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.form-control {
  border-radius: 12px;
  padding: 12px;
  font-size: 15px;
}

.btn-success {
  border-radius: 12px;
  font-weight: 600;
}

.extra-info {
  background-color: transparent;
}

